<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets">

    <div class="container">
        <hr />
        <h5><small>rendered at #{timeBean.now}</small></h5>
        <h5><small>#{view.viewId}</small></h5>
    </div>

</f:view>
