<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

  <h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>playground</title>

    <h:outputStylesheet library="webjars" name="bootstrap/3.3.4/dist/css/bootstrap.min.css" />
    <h:outputStylesheet library="webjars" name="bootstrap/3.3.4/dist/css/bootstrap-theme.min.css" />
    <h:outputStylesheet library="playground/css" name="playground.css" />

    <h:outputScript library="webjars" name="jquery/2.1.3/dist/jquery.min.js"/>
    <h:outputScript library="webjars" name="bootstrap/3.3.4/dist/js/bootstrap.min.js"/>
    <h:outputScript library="javax.faces" name="jsf.js"/>

    <ui:insert name="scripts"/>
  </h:head>

  <h:body>

    <ui:param name="siteRoot"
              value="#{facesContext.externalContext.requestContextPath}"/>

    <ui:include src="/WEB-INF/templates/header.xhtml"/>

    <ui:insert name="content"/>

    <ui:include src="/WEB-INF/templates/footer.xhtml"/>

    <ui:include src="/WEB-INF/templates/debug.xhtml"/>

  </h:body>
</html>
