<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="content">

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <h4>JSF 2.2</h4>
                    <p>Developed through the Java Community Process under JSR - 314, JavaServer Faces technology establishes the standard for building server-side user interfaces.</p>
                </div>
                <div class="col-md-4">
                    <h4>EJB 3.2</h4>
                    <p>Enterprise JavaBeans (EJB) technology is the server-side component architecture for Java Platform, Enterprise Edition (Java EE). EJB technology enables rapid and simplified development of distributed, transactional, secure and portable applications based on Java technology.</p>
                </div>
                <div class="col-md-4">
                    <h4>JPA 2.1</h4>

                    <p>The Java Persistence API is a Java programming language framework managing relational data in applications using Java Platform, Standard Edition and Java Platform, Enterprise Edition.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h4>Hibernate 4.3</h4>
                    <p>Hibernate an open source Java persistence framework project. Perform powerful object relational mapping and query databases using HQL and SQL.</p>
                </div>
                <div class="col-md-4">
                    <h4>EhCache</h4>
                    <p>Ehcache is an open source, standards-based cache used to boost performance, offload the database and simplify scalability. Ehcache is robust, proven and full-featured and this has made it the most widely-used Java-based cache.</p>
                </div>
                <div class="col-md-4">
                    <h4>Elastic Search</h4>
                    <p>ElasticSearch is a distributed RESTful search engine built for the cloud.</p>
                </div>
            </div>

        </div>

    </ui:define>

</ui:composition>
